<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Community"
        tools:targetApi="31">
        <activity
            android:name=".DocumentDelete"
            android:exported="false" />
        <activity
            android:name=".DocumentEdit"
            android:exported="false" />
        <activity
            android:name=".DocumentPlus"
            android:exported="false" />
        <activity
            android:name=".DocumentDetail"
            android:exported="false">
        </activity>
        <activity
            android:name=".NoticeRewrite"
            android:exported="false" />
        <activity
            android:name=".DocumentStart"
            android:exported="false" />
        <activity
            android:name=".NoticePostDetail"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".alchat_error"
            android:exported="false" />
        <activity
            android:name=".chat_item_post"
            android:exported="false" />
        <activity
            android:name=".insu_item_post"
            android:exported="false" />
        <activity
            android:name=".CommunityChat"
            android:exported="false" />
        <activity
            android:name=".CommunityInsu"
            android:exported="false" />
        <activity
            android:name=".notice_item_post"
            android:exported="false" />
        <activity
            android:name=".CommunityNotice"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>